* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


    :root {
        --dark: #212121;
        --sizeindex: calc(1vw + 1vh);
        --transition: .75s cubic-bezier(.2, .6, 0, 1);
    }

body {
    background: var(--dark);
    background-image: url("../public/fon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */

    display: flex;
    justify-content: center;


    
}

.astronaut{
    position: absolute;
    z-index: -1;
    right: 0%;
    width: calc(var(--sizeindex) * 18.1) ;
    height: calc(var(--sizeindex) * 18.1) ;
    animation: astronaut 5s ease infinite;
    transition: 0.5s;
}

.planet{
  position: absolute;
  bottom: 5rem;
  left: 15rem;
  width: calc(var(--sizeindex) * 12.1) ;
  height: calc(var(--sizeindex) * 12.1) ;
  animation: astronaut 5s ease infinite;
  transition: 0.5s;
}


@keyframes astronaut {
    0% {
      scale: 1.0;
    }
  
    50% {
        scale: 0.95;
    }
  
    100% {
        scale: 1.0;
    }
  }


.section {
    width: 80%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;

    margin-top: calc(var(--sizeindex) * 2);

}


.title {
    margin-top: 5%;
    
    display: block;
    font-size: 5rem ;
    background: linear-gradient(45deg, DarkMagenta, Tomato, Violet);
    /* Gradient for text */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box {

    margin-top: 5%;
    margin-bottom: 10%;

    border: 1px solid;
    height: 380px;
    width: 380px;

    border-radius: 1rem;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;

    display: flex;
    flex-wrap: wrap;
}

.box div {

    width: calc(100% / 4);
    height: calc(100% / 4);
    background-color: #FFFFFF;
    border: 1px solid;
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: calc(var(--sizeindex) * 2.0) ;

    cursor: pointer;

}

.box img {

  width: calc(100% / 4);
  height: calc(100% / 4);
  background-color: #FFFFFF;
  border: 1px solid;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: calc(var(--sizeindex) * 2.0) ;

  cursor: pointer;

}

.box .empty {
    background: none;
    border: none;
    font-size: calc(var(--sizeindex) * 0.0) ;

}

.info_menu{
  height: 80px;
  width: 380px;
  backdrop-filter: blur(10px);
  margin-bottom: 30px;
  display: flex;
  gap: 40px;

}

.time {
  width: 180px;
  height: 60px;
  background-color: var(--dark);
  border-radius: 1rem;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;


}


/* Toggle_switches */
.toggle_switches {

}

.btn-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  border-radius: 1rem;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0px;
  width: 150px;
  height: 50px;
  background-color: var(--dark);
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
    /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  top: 6px;
  right: 6px;
  color: #222;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  width: 70px;
  height: 30px;
  background-image: linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
  border-radius: 1rem;
  position: absolute;
  font-family: 'Avalors Personal Use';
  font-size: 25px;
  display: flex;
  justify-content: center;
  left: 6px;
  right: 6px;
  top: 6px;
  text-align: center;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px --dark;
  padding: 5px 0px;
  color: var(--dark);
  font-weight: 600;
}

.btn-color-mode-switch input[type="checkbox"] {
  cursor: pointer;
  width: 50px;
  height: 30px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner {
  background-color: var(--dark);
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after {
  content: attr(data-on);
  left: 68px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 30px;
}







/* WIN */
.display_Box {
    position: relative;

}

.box_win {
    /* content: "";
    position: absolute; */
    z-index: 5;
    top: 0;
    left: 0;

    height: 30rem;
    width: 30rem;
    /* background-color: var(--dark); */
    background-image: url("../public/win.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: box_win 2s ease;
    transition: 0.5s;
  }
  
  
  @keyframes box_win {
      0% {
       scale: 0.5;
       transform: translateX(-80%);
      }

      100% {
        scale: 1;
        transform: translateX(0%);
      }
    }

.hidden{
    display: none;
}

@keyframes show {
    from { scale: 0.3; }
    to { opacity: 1; }
  }







/* Styles for button */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 5rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;

    margin-bottom: 10%;
  }
  
  #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  }
  
  strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 16px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }
  
  .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }
  
  .btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
  }
  
  .btn:hover {
    transform: scale(1.1)
  }
  
  .btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  
  .btn:active .circle {
    background: #FE53BB;
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
